body{
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(255, 228, 105);
}

h1, h2{
    font-size: 50px;
    padding: 10px;
    width: 400px;
    margin: 20px auto;
    background-color: #FFFFFF;
}

.board{
    margin-top: 50px;
    display: inline-block;
    background: #0a9b32;
    padding: 8px;
    border-radius: 8px;
}

.row{
    display: flex;
}

.cell{
    width: 50px;
    height: 50px;
    background: #0f7a28;
    border: 1px solid #064a17;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

.hint{
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.7);
}

.cell:hover{
    background: #139c35;
}

form{
    margin: 0; /* セルの中に収めるため */
}

.stone{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.black{
    background: black;
}

.white{
    background: white;
}

.board.game_over .cell{
    pointer-events: none;
    cursor: default;
}

button.sitake{
    width: 200px;

}